---
layout: default
title: 林德熙
---
<div class="well">
    <div class="list-group">

      <div class="list-group-item">
        <div class="row-content">
          <img src="http://image.acmx.xyz/lindexi%2F20209261948591092.jpg" />
        </div>
      </div>
      <!-- http://image.acmx.xyz/lindexi%2F2020926163868559.jpg -->
      <div style="margin-top: 10px;margin-bottom: 10px;"/>

      {% for post in paginator.posts %}
      <div class="list-group-item">
        <div class="row-content">
          <h4 class="list-group-item-heading"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
          <!-- <p style="font-size: 0.8em">{{ post.date | date: "%Y-%m-%d %H:%M" }}</p> -->
          <p class="list-group-item-text">{{ post.excerpt }}</p>
        </div>
      </div>
      <div class="list-group-separator"></div>
      {% endfor %}
    </div>
   

    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
    <ul class="pager">
      {% if paginator.previous_page %}
        <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">←</a>
        </li>
      {% else %}
        <li class="previous disabled"><span aria-hidden="true">←</span></li>
      {% endif %}
      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="active">
             <a>{{ page }}<span class="sr-only">(current)</span></a>
          </li>
        {% elsif page == 1 %}
          <li><a href="/">{{ page }}</a></li>
        {% else %}
          {% if paginator.total_pages <= 10 %}
            <li>
              <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            </li>
          {% else %}
            {% if paginator.page <= 5 %}
              {% if page > 0 and page < 6 or page == paginator.total_pages %}
                <li>
                  <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                </li>
              {% assign dot = paginator.total_pages|minus:1 %}
              {% elsif page == dot %}
                <li>
                  <a class="no-border" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">•••</a>
                </li>
              {% endif %}
            {% else %}
              {% assign index1 = paginator.page|minus:2 %}
              {% assign index2 = paginator.page|plus:2 %}
              {% assign dot = paginator.total_pages|minus:1 %}
              {% if page >= index1 and page <= index2 or page == paginator.total_pages  %}
                <li>
                  <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                </li>
              {% elsif page == 2 %}
                <li>
                  <a class="no-border" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">•••</a>
                </li>
              {% elsif page == dot %}
                <li>
                  <a class="no-border" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">•••</a>
                </li>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">→</a>
        </li>
      {% else %}
        <li class="next disabled"><span>→</span></li>
      {% endif %}
    </ul>
    {% endif %}
</div><!-- end #home -->
