---
layout: default
---
<div class="content well">

<div id="post-content">

    {% if site.categories[page.category] %}
    <div class="list-group">
        {% for post in site.categories[page.category] %}
        <div class="list-group-item">
            <div class="row-content">
      
            <h4 class="list-group-item-heading"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
            <p class="list-group-item-text">{{ post.excerpt }}</p>
            
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p>There are no posts in this categories. {{ page.category }}</p>
    {% endif %}
</div>
</div>